In [1]:
pip install pymysql

Collecting pymysqlNote: you may need to restart the kernel to use updated packages.
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [1]:
import pymysql as sql

In [10]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="10to1130")
cursor=con.cursor()
cursor.execute("insert into students values(602,'ravi',789)")
con.commit() #for dml queries
con.close()

In [12]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="10to1130")
cursor=con.cursor()
r=int(input("enter roll:"))
n=input("enter name:")
m=int(input("enter marks:"))

cursor.execute("insert into students values(%s,%s,%s)",(r,n,m))
con.commit() #for dml queries
con.close()
print("record inserted..")

enter roll: 606
enter name: abc
enter marks: 666

record inserted..

In [2]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="10to1130")
cursor=con.cursor()

cursor.execute("insert into students values(701,'xyz',700)")
cursor.execute("delete from students where rollno=101")
cursor.execute("update students set marks=marks+10")

con.commit() #for dml queries
con.close()
print("dml executed...")

dml executed...

In [6]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="10to1130")
cursor=con.cursor()
#cursor.execute("select * from students")
cursor.execute("select * from students where marks>=600")
row=cursor.fetchone()
print(row)
row=cursor.fetchone()
print(row)
rows=cursor.fetchmany(2)
print(rows)
con.close()

(501, 'sonu', 710)
(555, 'ajay', 810)
((556, 'vijay', 810), (601, 'ravi', 799))

In [7]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="10to1130")
cursor=con.cursor()
cursor.execute("select * from students where marks>=600")
rows=cursor.fetchall()
print(rows)
con.close()

((501, 'sonu', 710), (555, 'ajay', 810), (556, 'vijay', 810), (601, 'ravi', 799), (602, 'ravi', 799), (605, 'pintu', 696), (606, 'abc', 676), (701, 'xyz', 710))

In [10]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="10to1130")
cursor=con.cursor()
cursor.execute("select * from students where marks>=600")
for row in cursor:
    print(row)
con.close()

(501, 'sonu', 710)
(555, 'ajay', 810)
(556, 'vijay', 810)
(601, 'ravi', 799)
(602, 'ravi', 799)
(605, 'pintu', 696)
(606, 'abc', 676)
(701, 'xyz', 710)

In [20]:
con=sql.connect(host="localhost",user="root",password="root",port=3306,database="10to1130")
cursor=con.cursor()
cursor.execute("select * from students where marks>=600")
#cursor.scroll(0)
rows=cursor.fetchall()
print(rows)

cursor.scroll(2,mode="absolute")

rows=cursor.fetchall()
print(rows)

con.close()

((501, 'sonu', 710), (555, 'ajay', 810), (556, 'vijay', 810), (601, 'ravi', 799), (602, 'ravi', 799), (605, 'pintu', 696), (606, 'abc', 676), (701, 'xyz', 710))
((556, 'vijay', 810), (601, 'ravi', 799), (602, 'ravi', 799), (605, 'pintu', 696), (606, 'abc', 676), (701, 'xyz', 710))