In [1]:
import sqlite3 as sql

In [2]:
con=sql.connect(database="mydb.sqlite")
cursor=con.cursor()
cursor.execute("create table emp(empid int primary key,name text,sal int)")
con.commit()
con.close()
print("database & table created..")

database & table created..

In [5]:
con=sql.connect(database="mydb.sqlite")
cursor=con.cursor()
cursor.execute("insert into emp values(102,'monu',10000)")
con.commit()
con.close()
print("record inserted")

record inserted

In [8]:
con=sql.connect(database="mydb.sqlite")
cursor=con.cursor()
cursor.execute("select * from emp")
print(cursor.fetchall())
con.close()

[(101, 'sonu', 12000), (102, 'monu', 10000), (201, 'chintu', 5000)]

In [7]:
con=sql.connect(database="mydb.sqlite")
cursor=con.cursor()
empid=int(input("enter empid:"))
name=input("enter name:")
sal=int(input("enter sal:"))
cursor.execute("insert into emp values(?,?,?)",(empid,name,sal))
con.commit()
con.close()
print("record inserted")

enter empid: 201
enter name: chintu
enter sal: 5000

record inserted